section.headerContainer {
    background: rgb(120,110,100);
    font-family: 'Orbitron', sans-serif;
    height: 45px;
    width: 100%;
}

section.headerContainer .logo {
    margin: 0;
    padding: 4px 0 0 5px;
    float: left;
    height: 40px;
    width: 40px;
}

section.headerContainer .name {
    padding: 12px 0 0 8px;
    float: left;
    font-size: 1.25em;
}

section.headerContainer .title {
    padding: 15px 0 0 20px;
    color: rgb(160,0,0);
    float: left;
    font-size: 1em;
}

section.headerContainer .repo {
    padding: 15px 10px 0 0;
    color: rgb(0,0,0);
    float: right;
    font-size: .8em;
}
