<ng-container *ngIf="storeService.store$ | async as state">
  <div [class]="state.map.class">
    <app-layers></app-layers>
    <app-icons></app-icons>
    <app-trails></app-trails>
  </div>
</ng-container>
