<ng-container *ngIf="storeService.store$ | async as state">
  <ul id="layers" [@fade]="fade">
    <li *ngFor="let layerElement of state.layerElements">
      <div appLayerClick [id]="layerElement.id" [class]="layerElement.class">
        {{ layerElement.name }}
      </div>
    </li>
  </ul>
</ng-container>
