$active-background-color: rgb(120, 110, 100);
$hover-background-color: rgb(140, 130, 120);
$primary-background-color: rgb(160, 150, 140);

$active-text-color: rgb(216, 216, 216);
$primary-text-color: rgb(60, 75, 90);

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
}

ul#layers {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  left: 10px;
  top: 120px;

  li {
    &:first-child div {
      @include border-radius(4px 4px 0 0);
    }

    &:last-child div {
      @include border-radius(0 0 4px 4px);
      border-bottom-width: 1px;
    }

    div {
      cursor: pointer;
      padding: 7px 0 6px 40px;
      background: $primary-background-color;
      border: 1px solid rgb(187, 187, 187);
      border-bottom-width: 0;
      color: $primary-text-color;
      font-size: 0.95em;
      line-height: 1.1;
      text-decoration: none;
      width: 85px;

      &:hover {
        background: $hover-background-color;
      }
    }

    div.active {
      background: $active-background-color;
      color: $active-text-color;
    }
  }
}
