<ul class='layers'>
	<li>
		<div terrain class='terrain'>Terrain View</div>
	</li>

	<li>
		<div biosphere class='biosphere'>Biosphere</div>
	</li>

	<li>
		<div office class='office'>Office</div>
	</li>

	<li>
		<div places class='places'>Places</div>
	</li>

	<li>
		<div trails class='trails'>Trails</div>
	</li>

	<li>
		<div reset class='reset'>Reset Map</div>
	</li>
</ul>

<div class='biosphere-icon'>
	<img biosphere class='biosphere' src='./assets/biosphere.png' height='18' width='18'>
</div>

<div class='office-icon'>
	<img office class='office' src='./assets/office.png' height='20' width='18'>
</div>

<div class='places-icon'>
	<img places class='places' src='./assets/places.png' height='20' width='18'>
</div>

<div class='trails-icon'>
	<img trails class='trails' src='./assets/trails.png' height='20' width='18'>
</div>
